---
import "../styles/style.css";
// import Card from "../components/Card.astro";
// import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";

import MainLayout from "../layouts/MainLayout.astro";

import TVShow from "../components/TVShow.astro";

// fetching data
// const data = await fetch("https://jzfjblexhwoijgbgmixy.supabase.co/rest/v1/Tvshows",{
// 	method:"SELECT",
// 	headers: {
// 		apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6ZmpibGV4aHdvaWpnYmdtaXh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTAzNDIxMTQsImV4cCI6MjAyNTkxODExNH0.O7nP4UolRZVDGhGQ3-0RoYhP0SEzLOyHHhp125SwNvw"
// 	},
// } ).then((res) => res.json());

// console.log(data);
---

<MainLayout title="Home">
					<Button variant="primary" size="small">TEXT</Button>	
					<Button variant="secondary" size="medium">TEXT</Button>
					<Button variant="secondary" size="large">TEXT</Button>
<!-- 	
					<section class="shows"> -->
						<!-- map minder om ForEach -->
						<!-- {data.map(show=>{
							return <TVShow />
						})}
					</section> -->

			<!-- <Card header="Hi World" text="Lorem Ipsum dollar" test="NOGET" /> -->

			<!-- med billede -->
			<!-- <Card header="Hej Verden">
				<img src="/hqdefault.jpg" alt="Et billede">
				<button>Klik Her</button>
			</Card>
			
			<Card header="Hej hold B" text="Lorem Ipsum dollar" test="NOGET">
				<button>Klik Her</button>
				<img src="/sandalget.png" alt="Et billede">
				</Card> -->
	</MainLayout>