---
import "../styles/style.css";
// import Card from "../components/Card.astro";
// import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";

import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
					<Button variant="primary" size="small">TEXT</Button>	
					<Button variant="secondary" size="medium">TEXT</Button>
					<Button variant="secondary" size="large">TEXT</Button>
	
			<!-- <Card header="Hi World" text="Lorem Ipsum dollar" test="NOGET" /> -->

			<!-- med billede -->
			<!-- <Card header="Hej Verden">
				<img src="/hqdefault.jpg" alt="Et billede">
				<button>Klik Her</button>
			</Card>
			
			<Card header="Hej hold B" text="Lorem Ipsum dollar" test="NOGET">
				<button>Klik Her</button>
				<img src="/sandalget.png" alt="Et billede">
				</Card> -->
	</MainLayout>
